<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">




<!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



</head>


<style>
	
.btn-darker{color:#fff;background-color:#343a40;border-color:#343a40}
.btn-darker:hover { COLOR: white; TEXT-DECORATION: none; font-weight: none }

</style>


<script>
function resolution(id)
{

	 var resultBtn = document.getElementById("result");
	 var resultd = '{{ decision }}';

	 console.log(resultd, id)

	if (id == resultd){

		resultBtn.textContent = 'Correct'
		resultBtn.classList.add('btn-success')
		resultBtn.classList.remove('btn-warning')
		resultBtn.classList.remove('btn-danger')

		console.log('stuff', resultBtn)

	} else {
		
		resultBtn.textContent = 'Wrong'
		resultBtn.classList.add('btn-danger')
		resultBtn.classList.remove('btn-warning')
		resultBtn.classList.remove('btn-success')
	} ;




}

</script>


<body>
<div align="center" class="container-fluid">

	</br>
	<h2> You were dealt {{ playerCard }} vs. dealer's {{ dealerCard }}. </h2>

	<button onclick="resolution(this.id)" id='H' type="button" class="btn btn-info btn-block">Hit</button>
	<button onclick="resolution(this.id)" id='S' type="button" class="btn btn-info btn-block">Stand</button>
	<button onclick="resolution(this.id)" id='P' type="button" class="btn btn-info btn-block">Split</button>
	<button onclick="resolution(this.id)" id='Dh' type="button" class="btn btn-info btn-block">Double otherwise Hit</button>
	<button onclick="resolution(this.id)" id='Ds' type="button" class="btn btn-info btn-block">Double otherwise Stand</button>
	<button onclick="resolution(this.id)" id='Rh' type="button" class="btn btn-info btn-block">Surrender otherwise Hit</button>
	<button onclick="resolution(this.id)" id='Rs' type="button" class="btn btn-info btn-block">Surrender otherwise Stand</button>
	<button onclick="resolution(this.id)" id='Rp' type="button" class="btn btn-info btn-block">Surrender otherwise Split</button>
	</br>
	<div class="row">
		<div class="col-xs-6"> <div id='result' style="cursor:default;" class="btn btn-block btn-warning disabled">Result</div> </div>
		<div class="col-xs-6">	<a class="btn btn-primary btn-block" href="" role="button">Next</a> </div>
	</div>
	</br>
	<a class="btn btn-darker btn-block" href="/" role="button">Home</a>

</div>
</body>


   
</html>